<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Simon.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>1C27AA8F1B98887A001A586B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1C27AAA31B98887B001A586B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1C27AAAE1B98887B001A586B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
